<!DOCTYPE html>
<html>
    <head>
        <title>Contacto</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <div class="portada3">
            <h1 id="imgpor">Mario Gutierrez</h1>
            <nav>
                <span><a href="/">Home</a></span>
                <span><a href="/proyectos">Proyectos</a></span>
                <span><a href="/formacion">Formacion</a></span>
                <span><a href="/contacto">Contacto</a></span>
            </nav>
            <h1>Contacto</h1>
        </div>
        <div id="contacto">
            <h2>Nombre</h2>
            <p>Mario Victor Gutierrez Barba</p>
            <h2>Correo</h2>
            <p>mariogbarba@gmail.com</p>
            <h2>Ubicacion</h2>
            <p>Torreon, Coahuila</p>
            <h2>Numero</h2>
            <p>871 118 4884</p>
            <h2>LinkedIn</h2>
            <a href="https://www.linkedin.com/in/mario-víctor-gutiérrez-barba-9259621a6" target="_blank"> Mario Gutierrez</a>
        </div>
    </body>
</html>