<!DOCTYPE html>
<html>
    <head>
        <title>Proyectos</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <div class="portada4">
            <h1 id="imgpor">Mario Gutierrez</h1>
            <nav>
                <span><a href="/">Home</a></span>
                <span><a href="/proyectos">Proyectos</a></span>
                <span><a href="/formacion">Formacion</a></span>
                <span><a href="/contacto">Contacto</a></span>
            </nav>
            <h1>Proyectos</h1>
        </div>
        <div id="Mecanica">
            <h2>Mecanica</h2>
            <ul>
                <li>Remadora</li>
                <p>Se desarrollo el diseño y elaboracion de una maquina remadora.</p>
            </ul>
        </div>
        <div id="Electronica">
            <h2>Electronica</h2>
            <ul>
                <li></li>
            </ul>
        </div>
        <div id="Programacion">
            <h2>Programacion</h2>
            <ul>
                <li>Memorama</li>
                <p>Desarollo de un programa que simula el juego de memorama.</p>
                <li>Control de sistema de iluminacion</li>
                <p>Se creo un sistema de control de luminarias para mantener la normativa correcta y generar ahorro energetico.</p>
            </ul>
        </div>
        <div id="Control">
            <h2>Control</h2>
            <ul>
                <li>Control de motor</li>
            </ul>
        </div>
    </body>
</html>