<!DOCTYPE html>
<html>
    <Head>
        <title>Random</title>
        <link href="style.css" type="text/css" rel="stylesheet">
    </Head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Mario Gutierrez</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/formacion">Formacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/proyectos">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/random">Random</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <body>
        <h1>Video</h1>
        <div id="Rick">
            <video width="320" height="240" controls autoplay><source src="">
                Video no econtrado
            </video>
        </div>
        <div>
            <table>
                <tr>
                  <th scope='col'>Company Name</th>
                  <th scope='col'>Number of Items to Ship</th>
                  <th scope='col'>Next Action</th>
                </tr>
                <tr>
                  <td>Adam's Grennworks</td>
                  <td>14</td>
                  <td>Package Items</td>
                </tr>
                <tr>
              <td>Davie's Burgers</td>
              <td>2</td>
              <td>Send Invoice</td>
            </tr>
            <tr>
              <td>Baker's Bike Shop</td>
              <td>3</td>
              <td>Send Invoice</td>
            </tr>
            <tr>
              <td>Miss Sally's Southern</td>
              <td>4</td>
              <td>Ship</td>
            </tr>
            <tr>
              <td>Summit Resort Rentals</td>
              <td>4</td>
              <td>Ship</td>
            </tr>
            <tr>
              <td>Strike Fitness</td>
              <td>1</td>
              <td>Enter Order</td>
            </tr>
              </table>
        </div>
    </body>
</html>